/************************
GRID SYSTEM FOR EASY MANAGEMENT :)
*************************/

html,
body {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-10,
.col-12,
.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*******************
GLOBAL STYLES
********************/

.img-responsive {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.item-parent {
    padding: 15px;
    color: #000;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0 0 30px rgba(33,33,33,.2); 
}

.lazy {
    background-image: url('../img/placeholder.webp');
    background-size: cover;
    background-position: center center;
}

.item {
    border: 1px solid #30475e;
    height: 100%;
    transition: 0.5s all;
    color: #222831 !important;
}

.item .img {
    background-size: cover;
    background-position: center center;
    height: 200px;
}

@media (max-width: 768px) {
    .item .img {
        height: 400px;
    }
}

.item .description {
    padding: 10px 15px;
}

.item .description h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.item .description p {
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    header .container {
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header .container {
        max-width: none;
    }
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.select-dropdown {
    display: inline-block;
    position: relative;
    background-color: #e6e6e6;
    border-radius: 4px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

/*********************
HEADER
**********************/

header.container-fluid {
    background-color: #30475e;
}

/*********************
NAV BAR
**********************/

.nav {
    min-height: 50px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.nav .nav-header {
    display: flex;
    align-items: center;
    color: #f05454;
    text-decoration: none;
}

.nav .nav-header .logo-text {
    margin-left: 15px;
    font-size: 25px;
    font-weight: 700;
}

.nav .nav-header .logo {
    height: 70px;
}

.nav .nav-btn {
    z-index: 99999;
    display: none;
}

.nav .nav-links {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav .nav-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 768px) {
    header .col-12 {
        padding: 0;
    }
    .nav .nav-header {
        margin-left: 15px;
    }
    .nav .nav-btn {
        margin-right: 15px;
        display: flex;
        align-items: center;
    }
    .nav #nav-check:checked ~ .nav-btn {
        position: fixed;
        right: 0;
    }
    .nav .nav-btn label {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        padding: 12px;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
    .nav .nav-btn label span {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
        transition: all 0.2s ease-in-out;
    }
    .nav .nav-btn label:hover,
    .nav #nav-check:checked ~ .nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(1) {
        transform: translateY(12px) rotate(135deg);
    }
    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(2) {
        transform: scale(0);
    }
    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(3) {
        transform: translateY(-12px) rotate(-135deg);
    }
    .nav .nav-links {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #30475e;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 0px;
        left: 0px;
        z-index: 9999;
    }
    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    .nav #nav-check:not(:checked) .nav-links {
        height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }
}

/*********************
FOOTER
**********************/

footer {
    background: #222831;
    padding: 40px 0;
    color: #fff;
}

footer .text {
    margin: 15px 0 40px 0;
    font-size: 1.2rem;
}

footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer .socials a {
    margin: 0 15px;
    color: #fff;
    transition: all 0.4s;
}

footer .socials a:hover {
    color: #f05454;
}

/*********************
MAIN PAGE COVER
**********************/

.cover {
    height: 80vh;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover .title {
    margin-top: 0;
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
}

.cover .subtitle {
    margin-top: 0;
    font-size: 2.3em;
    color: #d1d1d1;
    max-width: 900px;
    text-align: center;
}

.home-section {
    padding: 70px 0;
}

.artist .title,
.home-section .title {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;
}

.artist .title:after,
.home-section .title:after {
    content: '';
    width: 50px;
    border-bottom: #f05454 5px solid;
}

.home-section .carousel-row {
    flex-wrap: nowrap;
    overflow: hidden;
}

.home-section .carousel .slide {
    transition: all 0.4s;
    text-decoration: none;
}

.home-section .carousel .slide:not(.hide) {
    flex: 1 0 25%;
}

@media (max-width: 768px) {
    .home-section .carousel .slide:not(.hide) {
        flex: 1 0 100%;
    }
}

.home-section .carousel .slide.hide {
    flex-basis: 0px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.home-section .carousel .slide.hide h4,
.home-section .carousel .slide.hide p {
    display: none;
}

.home-section .arrows {
    display: flex;
    margin-top: 20px;
}

.home-section .carousel .carousel-arrow-left,
.home-section .carousel .carousel-arrow-right {
    border: 0;
    background: none;
}

.home-section .carousel .carousel-arrow-left:focus,
.home-section .carousel .carousel-arrow-right:focus {
    outline: 0;
}

.home-section .arrows .carousel-nav-icon {
    height: 48px;
    width: 48px;
}

.featured-artists {
    background: #dddddd;
}

.featured-albums {
    background: #30475e;
    color: #fff;
}

.featured-albums .carousel .item {
    border-color: #dddddd;
    color: #fff !important;
}

.featured-musics {
    background: #dddddd;
}

/*********************
ABOUT PAGE
**********************/

.about {
    margin-top: 150px;
    margin-bottom: 150px;
}

.about h1 {
    margin-top: 0;
}

.about .img-responsive {
    margin-top: 7px;
}

.about h1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.about h1:after {
    content: '';
    width: 50px;
    border-bottom: #f05454 5px solid;
}

/*********************
SEARCH BAR
**********************/
.search {
    background-image: url('../img/search-cover.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    display: flex;
}

.search .container {
    display: flex;
    flex-direction: column;
}

.search .container .row {
    height: 100%;
}

.search .container .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    min-width: 400px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    border: 1px solid #222831;
    margin-right: 20px;
}

.search input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search .search-btn {
    height: 60px;
    background: #30475e;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}

.not-found {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 100px;
}

/*********************
ARTISTS PAGE
**********************/

.artists {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
}

.artists .sort {
    margin-top: 18px;
    text-align: right;
}

/*********************
LOADER CSS
**********************/

.blur {
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s all;
}

.blur.show {
    height: auto;
}

.loading-grid {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.loading-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    animation: loading-grid 1.2s linear infinite;
}
.loading-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.loading-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.loading-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.loading-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.loading-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.loading-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.loading-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.loading-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.loading-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes loading-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/*********************
ARTISTS PAGE
**********************/

.artist {
    margin-top: 100px;
    margin-bottom: 100px;
}

.artist .tracks {
    margin-top: 50px;
}