/************************
GRID SYSTEM FOR EASY MANAGEMENT :)
*************************/
html,
body {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-10,
.col-12,
.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {

    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.img-responsive  {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
} */
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    header .container {
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header .container {
        max-width: none;
    }
}

/*********************
HEADER
**********************/
header.container-fluid {
    background-color: #30475e;
}

/*********************
NAV BAR
**********************/
.nav {
    min-height: 50px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.nav .nav-header {
    display: flex;
    align-items: center;
    color: #f05454;
    text-decoration: none;
}

.nav .nav-header .logo-text {
    margin-left: 15px;
    font-size: 25px;
    font-weight: 700;
}

.nav .nav-header .logo {
    height: 70px;
}

.nav .nav-btn {
    z-index: 9999;
    display: none;
}

.nav .nav-links {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav .nav-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}
  
@media (max-width: 768px) {

    header .col-12 {
        padding: 0;
    }

    
    .nav .nav-header {
        margin-left: 15px;
    }
    
    .nav .nav-btn {
        margin-right: 15px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .nav .nav-btn label {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        padding: 12px;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }

    .nav .nav-btn label span {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked ~ .nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(1) {
        transform: translateY(12px) rotate(135deg);
    }

    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(2) {
        transform: scale(0);
    }

    .nav #nav-check:checked ~ .nav-btn label .burger-bar:nth-of-type(3) {
        transform: translateY(-12px) rotate(-135deg);
    }

    .nav .nav-links {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #30475e;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 0px;
        left: 0px;

    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }

    .nav #nav-check:not(:checked) .nav-links {
        height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

}

/*********************
FOOTER
**********************/

footer {
    background: #222831;
    padding: 40px 0;
    color: #fff
}

footer .text {
    margin: 15px 0 40px 0;
    font-size: 1.2rem;
}

footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer .socials a {
    margin: 0 15px;
    color: #fff;
    transition: all 0.4s;
}

footer .socials a:hover {
    color: #f05454;
}


/*********************
MAIN PAGE COVER
**********************/
.cover {
    height:80vh;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover .title {
    margin-top:0;
    color: #FFF;
    font-size: 4em;
    text-transform: uppercase;
}

.cover .subtitle {
    margin-top: 0;
    font-size: 2.3em;
    color: #d1d1d1
}

.home-section {
    padding: 70px 0;
}

.home-section .title {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;
}

.home-section .title:after {
    content: "";
    width: 50px;
    border-bottom: #f05454 5px solid;
}

.home-section .carousel-row {
    flex-wrap: nowrap;
    overflow: hidden;
}

.home-section .carousel .slide {
    transition: all 0.4s;
}

.home-section .carousel .slide:not(.hide) {
    flex: 1 0 25%;
}

@media (max-width: 768px) {
    .home-section .carousel .slide:not(.hide) {
        flex: 1 0 100%;
    }
}

.home-section .carousel .slide.hide {
    flex-basis: 0px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.home-section .carousel .item {
    border: 1px solid #30475e;
    height: 100%;
}

.home-section .carousel .item .img {
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.home-section .carousel .item .description h4 {
    margin:0;
    padding-left: 15px;
    padding-top: 10px;
}

.home-section .carousel .item .description p {
    margin: 0;
    padding-top:5px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.home-section .arrows {
    display: flex;
    margin-top: 20px;
}

.home-section .carousel .carousel-arrow-left,
.home-section .carousel .carousel-arrow-right {
    border: 0;
    background: none;
}

.home-section .carousel .carousel-arrow-left:focus,
.home-section .carousel .carousel-arrow-right:focus {
    outline:0;
}

.home-section .arrows .carousel-nav-icon {
    height: 48px;
    width: 48px;
}

.featured-artists {
    background: #dddddd;
}

.featured-albums {
    background: #30475e;
    color: #fff;
}

.featured-albums .carousel .item {
    border-color: #dddddd;
}

.featured-musics {
    background: #dddddd;
}

/*********************
ABOUT PAGE
**********************/
.about {
    margin-top: 150px;
    margin-bottom: 150px;
}

.about h1 {
    margin-top: 0;
}

.about .img-responsive {
    margin-top: 7px;
}

.about h1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.about h1:after {
    content: "";
    width: 50px;
    border-bottom: #f05454 5px solid;
}

