<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="img/about.jpg" class="img-responsive"/>
            </div>
            <div class="col-8">
                <h1>MusicDB brings music intelligence to the masses.</h1>
                <p>Founded in 2009, MusicDB is a unique media company that’s powered by community, our in-house creative team, and the artists themselves. We serve music knowledge to over 100 million people each month on MusicDB.com and everywhere music fans connect across the internet.</p>
                <p>MusicDB started as a platform for annotating clever rap lyrics—our original name was Rap Genius. Over the years, we’ve expanded our mission to include more than hip-hop, and more than just lyrics. Every song has a story that needs to be told, and the biggest names in music—including Travis Scott, Billie Eilish, and Ariana Grande—come to MusicDB to give the world insight into their art.</p>
                <p>The MusicDB community has grown into an influential force of over 2 million contributors, editors, and musicians who sign up to discuss and deconstruct their favorite songs with fans all around the world. As a result of their collective music IQ, we have the best lyrics and knowledge database on the internet—that’s over 25 million songs, albums, artists, and annotations.</p>
                <p>The in-house creative team at MusicDB spotlights the stories behind the music that matter most. They work with artists and the community to transform insider knowledge into videos, events, in-depth features, breaking news coverage, and a variety of music knowledge content for the masses.</p>
            </div>
        </div>
    </div>
</section>