<section class="artist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="title" class="title"></h1>
            </div>
            <div class="col-4">
                <img id="image" class="img-responsive" />
            </div>
            <div class="col-8">
                <h3 id="name"></h3>
                <h3 id="year"></h3>
                <h3 id="tracks"></h3>
                <p id="description"></p>
            </div>
        </div>

        <div class="row tracks">
            <div class="col-12">
                <h1 class="title">Artist's albums</h1>
            </div>
        </div>

        <div class="row album">
        </div>

        <div class="row tracks">
            <div class="col-12">
                <h1 class="title">Artist's tracks</h1>
            </div>
        </div>

        <div class="row list">
        </div>
    </div>
</section>

<template id='track'>
    <a class="col-3 slide item-parent" href="">
        <div class="item">
            <div class="img lazy"></div>
            <div class="description">
                <h4></h4>
                <p></p>
            </div>
        </div>
    </a>
</template>
