<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input class="form-control" id="searchInput" placeholder="Search your favorite artist" />
                <button class="search-btn" id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</section>

<section class="artists">
    <div class="blur" id="blur">
        <div class="loading-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="container">
        <div class="row heading">
            <div class="col-6">
                <h1 class="title" id="listTitle"></h1>
            </div>
            <div class="col-6 sort" id="sort">
                Sort By:
                <div class="select-dropdown">
                    <select id="sortArtists">
                        <option selected disabled>Select</option>
                        <option value="name">Name</option>
                        <option value="year">Year Born</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" id="list"></div>
        <div class="row">
            <div class="col-12 text-center">
                <button id="loadMore" class="btn btn-load">Load More</button>
            </div>
        </div>
    </div>
</section>

<template id="item">
    <a class="col-3 item-parent" href="">
        <div class="item">
            <div class="img lazy"></div>
            <div class="description">
                <h4></h4>
                <p></p>
            </div>
        </div>
    </a>
</template>
