<section class="cover">
    <h1 class="title">Let out your inner singer.</h1>
    <h4 class="subtitle"></h4>
</section>

<section class="container-fluid home-section featured-artists">
    <div class="container carousel" id="featuredArtists">
        <h1 class="title">Featured Artists</h1>
        <div class="row carousel-row">

        </div>

        <div class="row">
            <div class="col-12 arrows">
                <button class="carousel-arrow-left prev">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </button>

                <button class="carousel-arrow-right next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid home-section featured-albums">
    <div class="container carousel" id="featuredAlbums">
        <h1 class="title">Featured Albums</h1>
        <div class="row carousel-row">

        </div>

        <div class="row">
            <div class="col-12 arrows">
                <button class="carousel-arrow-left prev">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </button>

                <button class="carousel-arrow-right next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid home-section featured-musics">
    <div class="container carousel" id="featuredTracks">
        <h1 class="title">Featured Tracks</h1>
        <div class="row carousel-row">

        </div>

        <div class="row">
            <div class="col-12 arrows">
                <button class="carousel-arrow-left prev">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </button>

                <button class="carousel-arrow-right next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<template id="slide">
    <div class="col-3 slide">
        <div class="item">
            <div class="img"></div>
            <div class="description">
                <h4></h4>
                <p></p>
            </div>
        </div>
    </div>
</template>