<section class="cover">
    <h1 class="title">Find Your Lyrics!</h1>
    <h4 class="subtitle">Let out your inner singer.</h4>
</section>

<section class="container-fluid home-section featured-artists">
    <div class="container">
        <h1 class="title">Featured Artists</h1>
        <div class="row carousel">
            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>


            <div class="col-3 slide">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 arrows">
                <a href="#activitiesIndicator" class="carousel-arrow-left">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </a>

                <a href="#activitiesIndicator" class="carousel-arrow-right" data-slide="next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid home-section featured-albums">
    <div class="container">
        <h1 class="title">Featured Albums</h1>
        <div class="row carousel">
            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 arrows">
                <a href="#activitiesIndicator" class="carousel-arrow-left">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </a>

                <a href="#activitiesIndicator" class="carousel-arrow-right" data-slide="next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid home-section featured-musics">
    <div class="container">
        <h1 class="title">Featured Tracks</h1>
        <div class="row carousel">
            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="item">
                    <div class="img" style="background-image: url('img/album-cover.jpg');"></div>
                    <div class="description">
                        <h4>Kanye West</h4>
                        <p>Yeezy!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 arrows">
                <a href="#activitiesIndicator" class="carousel-arrow-left">
                    <div class="carousel-nav-icon">
                        <img src="img/left_arrow.svg" class="img-responsive"/>
                    </div>
                </a>

                <a href="#activitiesIndicator" class="carousel-arrow-right" data-slide="next">
                    <div class="carousel-nav-icon">
                        <img src="img/right_arrow.svg" class="img-responsive"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>